img {
    border-radius: 50%;
}

#portfolio2 {
    width: 500px;
    float: flex;
    height: 500px;
    background-color: white;
    text-align: center;
    padding-left: 5%;
    border-radius: 25px;
  }

.profile {
    margin-top: 6%;
    float: left;
    text-align: center;

}

.name {
    margin-top: 5%;
    float: flex;
    text-align: center;

}

.content {
    float: left;
    text-align: left;

}